table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0.5rem;
  border-collapse: collapse;
  border: 2px solid Black;
}
thead th col {
  width: 20%;
}

 span{
	background-color: red;
}

th{
  border: 1px solid black;
  padding: 0.2rem;
  
}
td {
  border: 1px solid black;
  padding: 0.2rem;
}

html {
  font-family: "helvetica neue", helvetica, arial, sans-serif;
}

thead th,
tfoot th {
  font-family: "Rock Salt", cursive;
}

th {
  letter-spacing: 2px;
}

th.lefttext {
  text-align: left;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
}

tfoot th {
  text-align: right;
}


tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: skyblue;
}
table{
	padding-left: 20%;
}


